* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.ml{
    margin-left:36px;
}
.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}
.sectionAccount{
    height:120vh;
}
@media(max-width:991px){
    .sectionAccount {
        height: 160vh;
    }
}