<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/CssSide/css/StyleSheet.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>@ViewBag.Title</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark pt-3 pb-3" id="navbarId">
        <div class="container">
            <a class="navbar-brand fs-3 fw-bold" asp-action="index" asp-controller="home">
                <div>JoExport</div>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse fs-5" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Store</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Categories
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">All</a></li>
                            <li><hr class="dropdown-divider" style="height:1px"></li>
                            @foreach (var product in Enum.GetValues(typeof(ProjectFutureAdvannced.Models.Enums.Categorys)))
                                {
                                <li><a class="dropdown-item" href="#">@product</a></li>

                                }
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Vip Shop</a>
                    </li>

                </ul>
                <div class="d-flex gap-3 fs-5">
                    <a asp-action="Login" asp-controller="Account" class="btn btn-outline-light">Login</a>
                    <a asp-action="Create" asp-controller="Account" class="btn btn-outline-light">Sign Up</a>
                    <a asp-action="Index" asp-controller="Admin" class="btn btn-outline-light">DashBorasd</a>

                </div>
            </div>
        </div>
    </nav>

    <div class="wrapper d-flex align-items-stretch">
        <!-- start Nav  -->
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <a href="#" class="sidebar-brand-text mx-3">Jo Export</a>
                <hr class="sidebar-divider my-0"></hr>
                <div class="nav-item active">
                    <a class="nav-link">
                        <span> Category </span>
                    </a>
                </div>
                <ul class="list-unstyled components mb-5">
                    <li class="active">
                        <a href="#CarsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Cars</a>
                        <ul class="collapse list-unstyled" id="CarsSubmenu">
                            <li>
                                <a href="#">Sport</a>
                            </li>
                            <li>
                                <a href="#">Suv</a>
                            </li>
                            <li>
                                <a href="#">Pickup</a>
                            </li>
                            <li>
                                <a href="#">All</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#ElectronicSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Electronic</a>
                        <ul class="collapse list-unstyled" id="ElectronicSubmenu">
                            <li>
                                <a href="#">Computer & Accessories</a>
                            </li>
                            <li>
                                <a href="#">TV & Video</a>
                            </li>
                            <li>
                                <a href="#">Smart Home</a>
                            </li>
                            <li>
                                <a href="#">All</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#ClothesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Clothes</a>
                        <ul class="collapse list-unstyled" id="ClothesSubmenu">
                            <li>
                                <a href="#">Men</a>
                            </li>
                            <li>
                                <a href="#">Women</a>
                            </li>
                            <li>
                                <a href="#">Childreen</a>
                            </li>
                            <li>
                                <a href="#">All</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#HomeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                        <ul class="collapse list-unstyled" id="HomeSubmenu">
                            <li>
                                <a href="#">Home Decor</a>
                            </li>
                            <li>
                                <a href="#">Home Appliances</a>
                            </li>
                            <li>
                                <a href="#">Kitchen Essentials</a>
                            </li>
                            <li>
                                <a href="#">All</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#BabyKidsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Baby Kids</a>
                        <ul class="collapse list-unstyled" id="BabyKidsSubmenu">
                            <li>
                                <a href="#">School Supplies</a>
                            </li>
                            <li>
                                <a href="#">Baby Gear</a>
                            </li>
                            <li>
                                <a href="#">Health and Safety</a>
                            </li>
                            <li>
                                <a href="#">All</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#BeautySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Beauty</a>
                        <ul class="collapse list-unstyled" id="BeautySubmenu">
                            <li>
                                <a href="#">Skincare</a>
                            </li>
                            <li>
                                <a href="#">Makeup</a>
                            </li>
                            <li>
                                <a href="#">Haircare</a>
                            </li>
                            <li>
                                <a href="#">All</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#SportFitnessSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Sport Fitness</a>
                        <ul class="collapse list-unstyled" id="SportFitnessSubmenu">
                            <li>
                                <a href="#">Cardio Equipment</a>
                            </li>
                            <li>
                                <a href="#">Strength Training</a>
                            </li>
                            <li>
                                <a href="#">Sportswear</a>
                            </li>
                            <li>
                                <a href="#">All</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#BooksSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Books</a>
                        <ul class="collapse list-unstyled" id="BooksSubmenu">
                            <li>
                                <a href="#">Art and Photography</a>
                            </li>
                            <li>
                                <a href="#">Travel</a>
                            </li>
                            <li>
                                <a href="#">Religion and Spirituality</a>
                            </li>
                            <li>
                                <a href="#">All</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#JewelrySubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Jewelry</a>
                        <ul class="collapse list-unstyled" id="JewelrySubmenu">
                            <li>
                                <a href="#">Necklaces</a>
                            </li>
                            <li>
                                <a href="#">Earrings</a>
                            </li>
                            <li>
                                <a href="#">Health</a>
                            </li>
                            <li>
                                <a href="#">All</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>

                <div class="footer">
                    <p>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>document.write(new Date().getFullYear());</script><i class="icon-heart" aria-hidden="true"></i> by <a href="https://Jo Export.com" target="_blank">Jo Export.com</a>
                    </p>
                </div>

            </div>
        </nav>
        <!-- Page Nav  -->
        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only">Toggle Menu</span>
            </button>
        </div>
        <!-- End Page Content  -->
    </div>
    <script src="~/JsSideBar/js/jquery.min.js"></script>
    <script src="~/JsSideBar/js/bootstrap.min.js"></script>
    <script src="~/JsSideBar/js/main.js"></script>
    <div>
        @RenderBody()
    </div>
</body>
</html>
